<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-route-calculator
        [showRouteOptions]="true"
        [showClearButton]="true"
        [autoEmitCoordinates]="true"
        (coordinatesReady)="onCoordinatesReady($event)"
        (routeCalculated)="onRouteCalculated($event)"
        (routeCleared)="onRouteCleared()"
        (error)="onRouteError($event)">
      </app-route-calculator>
      
      <div class="mt-3">
        <app-route-display
          [showActions]="true"
          [showNoRouteMessage]="false"
          [autoUpdate]="true">
        </app-route-display>
      </div>
    </div>
  </div>
</div>
